## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [13]:
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[57, 25, 32, 55, 93, 30, 20, 79, 23, 27, 92, 95, 73, 97, 37, 61, 96, 99, 65, 2, 98, 42, 90, 7, 54, 89, 69, 6, 87, 91, 24, 34, 82, 83, 26, 49, 46, 64, 68, 63, 60, 38, 71, 39, 13, 9, 36, 88, 41, 77, 43, 59, 50, 44, 29, 11, 67, 1, 51, 12, 75, 76, 74, 94, 52, 22, 21, 53, 45, 18, 78, 17, 31, 85, 10, 28, 19, 8, 84, 48]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
set1 = set(sample_list_1)
print(set1)
print("length is", len(set1))

{1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 63, 64, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
length is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [25]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(1, 100))
print(sample_list_2)
len(sample_list_2)

[84, 11, 93, 14, 63, 70, 91, 67, 77, 72, 3, 75, 89, 64, 74, 40, 30, 35, 20, 71, 48, 62, 73, 88, 51, 62, 32, 98, 83, 84, 74, 42, 22, 76, 19, 12, 40, 12, 51, 97, 34, 65, 29, 70, 23, 48, 44, 76, 52, 27, 44, 88, 87, 16, 97, 61, 42, 74, 58, 99, 80, 41, 22, 50, 64, 27, 72, 31, 43, 29, 13, 87, 17, 77, 6, 74, 7, 8, 94, 58]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print("length is", len(set2))

{4, 10, 11, 12, 13, 15, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 37, 38, 39, 41, 42, 46, 47, 48, 51, 52, 56, 59, 60, 61, 62, 66, 67, 70, 71, 72, 74, 75, 76, 79, 80, 81, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
length is 58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [30]:
list_set3 = []
for elem in set1:
    if ( elem not in set2 ):
        list_set3.append(elem)
set3 = set(list_set3)
print(set3)

{1, 2, 6, 7, 8, 9, 17, 18, 20, 30, 36, 43, 44, 45, 49, 50, 53, 54, 55, 57, 63, 64, 65, 68, 69, 73, 77, 78, 82, 83, 84, 85, 89, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [31]:
list_set4 = []
for elem in set2:
    if ( elem not in set1 ):
        list_set4.append(elem)
set4 = set(list_set4)
print(set4)

{33, 66, 4, 100, 70, 72, 47, 15, 80, 81, 56, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [32]:
list_set5 = []
for elem in set1:
    if ( elem in set2 ):
        list_set5.append(elem)
set5 = set(list_set5)
print(set5)

{10, 11, 12, 13, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 37, 38, 39, 41, 42, 46, 48, 51, 52, 59, 60, 61, 67, 71, 74, 75, 76, 79, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [37]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
58
34
12
46

In [41]:
len(set5) + len(set4) == len(set2)

True

#### Create an empty set called `set6`.

In [38]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
set6.update(set3, set5)
print(set6)
len(set6)

{1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 63, 64, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

80

#### Check if `set1` and `set6` are equal.

In [46]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [50]:
q1 = set2.issubset(set1)
q2 = set3.issubset(set1)
print(q1)
print(q2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [58]:
agg1 = set3.union(set4, set5)
agg2 = set1.union(set2)
agg1 == ag2

True

#### Using the `pop` method, remove the first element from `set1`.

In [63]:
set1.pop()
print(set1)
# I ran the function twice hence removed the second value as well

{6, 7, 8, 9, 10, 11, 12, 13, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 57, 59, 60, 61, 63, 64, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [66]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_x = set(list_to_remove)
answer = set1 - set_x
print(answer)

{6, 7, 8, 10, 12, 13, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 36, 37, 38, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 57, 60, 63, 64, 65, 67, 68, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}