## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [46]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [47]:
# Your code here
import random
sample_list1 = random.sample(range(0,100),80)
print(sample_list1)

[81, 15, 89, 47, 52, 1, 17, 7, 91, 73, 84, 55, 64, 99, 49, 74, 50, 42, 53, 61, 48, 77, 24, 20, 13, 5, 18, 35, 6, 97, 75, 45, 12, 11, 67, 23, 78, 46, 30, 92, 94, 71, 93, 43, 26, 58, 59, 9, 28, 34, 4, 66, 79, 86, 68, 60, 16, 63, 38, 87, 65, 57, 22, 98, 72, 14, 83, 80, 33, 21, 51, 82, 56, 90, 39, 3, 88, 37, 95, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [51]:
# Your code here. Yes it has same length as sample_list1
set1 = set(sample_list1)
len(set1)
print(set1)

{1, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 28, 30, 32, 33, 34, 35, 37, 38, 39, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [52]:
# Your code here
sample_list2 = []
for i in range(80):
    sample_list2.append(random.randint(0,100))
print(sample_list2)
len(sample_list2)

[76, 66, 29, 58, 61, 94, 74, 46, 50, 57, 49, 43, 19, 18, 80, 69, 68, 66, 21, 15, 15, 47, 77, 32, 82, 54, 9, 50, 49, 45, 67, 34, 77, 64, 62, 10, 68, 40, 74, 97, 11, 14, 97, 39, 75, 69, 27, 66, 8, 98, 48, 94, 64, 63, 51, 46, 90, 83, 86, 33, 69, 56, 8, 99, 50, 56, 48, 42, 38, 88, 85, 72, 71, 46, 79, 6, 14, 42, 49, 74]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here; NO they have different lengths are!
set2 = set(sample_list2)
#print(set2)
len(set2)

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [54]:
# Your code here
set3 = set()
set3 = (set1.difference(set2))
print(set3)

{1, 3, 4, 5, 7, 12, 13, 16, 17, 20, 22, 23, 24, 26, 28, 30, 35, 37, 52, 53, 55, 59, 60, 65, 73, 78, 81, 84, 87, 89, 91, 92, 93, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [55]:
# Your code here
set4 = set()
set4 = (set2.difference(set1))
print(set4)

{69, 8, 40, 10, 76, 19, 85, 54, 27, 29, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [56]:
# Your code here
set5 = set()
set5 = set1.intersection(set2)
print(set5)

{6, 9, 11, 14, 15, 18, 21, 32, 33, 34, 38, 39, 42, 43, 45, 46, 47, 48, 49, 50, 51, 56, 57, 58, 61, 63, 64, 66, 67, 68, 71, 72, 74, 75, 77, 79, 80, 82, 83, 86, 88, 90, 94, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [57]:
# Your code here; I see no difference there, but it looks like length decreses till fourth set and then increases again.
len(set1)

80

In [58]:
len(set2)

57

In [59]:
len(set3)

34

In [60]:
len(set4)

11

In [61]:
len(set5)

46

#### Create an empty set called `set6`.

In [62]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [63]:
# Your code here
set6.update(set3, set5)
#set6.update(set5)
print(set6)

{1, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 28, 30, 32, 33, 34, 35, 37, 38, 39, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [64]:
# Your code here
if set1 == set2:
    print("both sets are equal")
else:
    print("both are not equal")

both are not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [65]:
# Your code here
x= set1.issubset(set2)
print(x)

False

In [66]:
y = set1.issubset(set3)
print(y)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [67]:
# Your code here
agg = set3.union(set4, set5)
#print(agg)
add_agg = agg.union(set1,set2)
print(add_agg)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
# Your code here
print(set1)
set1.pop()

{1, 3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 28, 30, 32, 33, 34, 35, 37, 38, 39, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

1

In [69]:
print(set1)

{3, 4, 5, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 28, 30, 32, 33, 34, 35, 37, 38, 39, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{3, 4, 5, 6, 7, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 28, 30, 32, 33, 34, 35, 37, 38, 42, 43, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}