## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[35, 69, 1, 18, 91, 39, 84, 36, 6, 68, 92, 15, 94, 8, 47, 70, 71, 99, 43, 16, 80, 56, 45, 83, 26, 46, 58, 90, 5, 14, 29, 17, 3, 13, 93, 12, 20, 60, 59, 11, 61, 77, 88, 87, 31, 41, 30, 52, 97, 21, 64, 27, 66, 42, 10, 33, 7, 0, 85, 62, 65, 78, 53, 76, 44, 22, 82, 49, 28, 57, 38, 89, 32, 25, 81, 75, 37, 34, 95, 19]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
l = len(set1)
print(l)

#Yes, the length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
# Your code here

sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randrange(100))
print(sample_list_2)

[73, 86, 2, 10, 0, 9, 6, 20, 87, 5, 39, 74, 63, 78, 92, 97, 20, 50, 56, 14, 3, 45, 70, 17, 15, 33, 95, 26, 0, 77, 62, 32, 65, 43, 88, 13, 77, 24, 12, 8, 9, 23, 76, 90, 11, 18, 89, 25, 20, 24, 28, 6, 65, 17, 31, 37, 51, 80, 77, 20, 37, 65, 84, 83, 65, 71, 73, 42, 95, 2, 2, 55, 92, 99, 67, 29, 10, 79, 58, 26]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set2 = set(sample_list_2)
l2 = len(set2)
print(l2)

# No. This time there were repeated numbers and so the repetitions were erased to create the set

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here

set3 = set1-set2
print(set3)

{1, 7, 16, 19, 21, 22, 27, 30, 34, 35, 36, 38, 41, 44, 46, 47, 49, 52, 53, 57, 59, 60, 61, 64, 66, 68, 69, 75, 81, 82, 85, 91, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here

set4 = set2-set1
print(set4)

{2, 67, 9, 73, 74, 79, 50, 51, 55, 86, 23, 24, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1 - set3 -set4
print(set5)

{0, 3, 5, 6, 8, 10, 11, 12, 13, 14, 15, 17, 18, 20, 25, 26, 28, 29, 31, 32, 33, 37, 39, 42, 43, 45, 56, 58, 62, 65, 70, 71, 76, 77, 78, 80, 83, 84, 87, 88, 89, 90, 92, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
# Your code here

c1 = len(set5)+len(set3) == len(set1)
c2 = len(set5)+len(set4) == len(set2)

print(c1)
print(c2)

True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here

set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here

set6.update(set3,set5)
print(set6)

{0, 1, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 52, 53, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here

check16 = set1==set6
print(check16)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [13]:
# Your code here

ch2in1 = set2.issubset(set1)
print(ch2in1)

ch3in1 = set3.issubset(set1)
print(ch3in1)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here

s345 = set3.union(set4,set5)

s12 = set1.union(set2)

c12345 = s12 == s345
print(c12345)

True

#### Using the `pop` method, remove the first element from `set1`.

In [16]:
# Your code here
print(set1)

set1.pop()


print(set1)

{0, 1, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 52, 53, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}
{1, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 52, 53, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set_to_remove = set(list_to_remove)

set1 -= set_to_remove

print(set1)

{3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 52, 53, 56, 57, 58, 60, 62, 64, 65, 66, 68, 70, 75, 76, 77, 78, 80, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 97}