## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [9]:
sample_list_1 = []

sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)



#ALTERNATIVE without random.sample - 
"""while len(sample_list_1) != 80:
    x = random.randint(0,101)
    if x not in sample_list_1:       
        sample_list_1.append(x)"""

[86, 1, 23, 81, 51, 41, 49, 39, 58, 90, 34, 31, 2, 57, 13, 17, 66, 38, 20, 100, 72, 61, 44, 8, 27, 9, 80, 60, 10, 36, 64, 5, 91, 79, 84, 65, 93, 82, 11, 97, 6, 67, 55, 3, 26, 74, 45, 83, 99, 28, 43, 7, 25, 21, 29, 56, 16, 14, 48, 0, 19, 53, 85, 76, 95, 47, 15, 92, 75, 33, 18, 22, 59, 94, 24, 96, 42, 32, 37, 54]

'while len(sample_list_1) != 80:\n    x = random.randint(0,101)\n    if x not in sample_list_1:       \n        sample_list_1.append(x)'

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:

set1 = set(sample_list_1)

print(set1)
print(type(set1), 'Length of set is', len(set1))

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 72, 74, 75, 76, 79, 80, 81, 82, 83, 84, 85, 86, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}
<class 'set'> Length of set is 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [41]:
sample_list_2 = []

for x in range (0,80):
    x = random.randrange(0,101)
    sample_list_2.append(x)
    
print(sample_list_2)

[64, 12, 28, 76, 82, 5, 89, 82, 40, 81, 21, 42, 47, 66, 59, 62, 21, 2, 59, 87, 0, 27, 40, 6, 93, 13, 78, 29, 66, 50, 82, 49, 79, 0, 94, 22, 2, 40, 20, 44, 52, 0, 31, 64, 64, 40, 16, 16, 58, 87, 56, 13, 2, 0, 0, 61, 17, 19, 81, 76, 5, 84, 91, 1, 87, 70, 94, 39, 32, 56, 38, 41, 80, 73, 22, 54, 19, 23, 86, 22]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:

set2 = set(sample_list_2)

print(set2)
print(type(set2), "It's length is", (len(set2)),". It has decreased because sets have only unique values.")

{0, 1, 2, 5, 6, 12, 13, 16, 17, 19, 20, 21, 22, 23, 27, 28, 29, 31, 32, 38, 39, 40, 41, 42, 44, 47, 49, 50, 52, 54, 56, 58, 59, 61, 62, 64, 66, 70, 73, 76, 78, 79, 80, 81, 82, 84, 86, 87, 89, 91, 93, 94}
<class 'set'> It's lenght is 52 . It has decreased because sets have only unique values.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [46]:
set3 = set1.difference(set2)

print(set3)
print(type(set3))

{4, 7, 8, 10, 11, 14, 15, 18, 24, 25, 26, 30, 33, 34, 35, 36, 37, 45, 46, 48, 51, 53, 57, 60, 63, 67, 68, 71, 72, 74, 77, 83, 85, 90, 92, 95, 96, 97, 98, 99, 100}
<class 'set'>

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [47]:
set4 = set2.difference(set1)

print(set4)
print(type(set4))

{66, 6, 38, 41, 13, 16, 81, 20, 52, 22, 56, 58, 27}
<class 'set'>

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [48]:
set5 = set1.intersection(set2)

print(set5)
print(type(set5))

{0, 1, 2, 5, 12, 17, 19, 21, 23, 28, 29, 31, 32, 39, 40, 42, 44, 47, 49, 50, 54, 59, 61, 62, 64, 70, 73, 76, 78, 79, 80, 82, 84, 86, 87, 89, 91, 93, 94}
<class 'set'>

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [54]:
print(len(set1), 'unique values in set1')
print(len(set2), 'unique values in set2')
print(len(set3), 'values are in set1 but not set2')
print(len(set4), 'values are in set2 but not set1')
print(len(set5), 'values are in both set1 and set2') #set2 is set4 + set5 AND set1 is set3 + set5 SO set1 and 2 = set3 + set4 + set5

80 unique values in set1
52 unique values in set2
41 values are in set1 but not set2
13 values are in set2 but not set1
39 values are in both set1 and set2

#### Create an empty set called `set6`.

In [77]:
set6 = set()
print(type(set6))
print(set6)

<class 'set'>
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [78]:

set6.update(set3, set5)

print(set6)

{0, 1, 2, 4, 5, 7, 8, 10, 11, 12, 14, 15, 17, 18, 19, 21, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 57, 59, 60, 61, 62, 63, 64, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [80]:
if set1 is set6:
    print('They are equal.')
else:
    print('Not equal.')

They are equal.

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [83]:
if set1.issubset(set2) is True:
    print('Set1 is in set2')
else:
    print('Set1 is not in set2')
    
if set1.issubset(set3) is True:
    print('Set1 is in set3')
else:
    print('Set1 is not in set3')

Set1 is not in set2
Set1 is in set3

### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [85]:
if set3.union(set4, set5) == set1.union(set2):
    print('Values are equal')
else:
    print('Values are not equal')

Values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [87]:
set1.pop()
print(set1)

{1, 2, 4, 5, 7, 8, 10, 11, 12, 14, 15, 17, 18, 19, 21, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 57, 59, 60, 61, 62, 63, 64, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [102]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remove_set = set(list_to_remove)

for i in remove_set:
    set1.discard(i)
print(set1)

{2, 4, 5, 7, 8, 10, 12, 14, 15, 17, 18, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 44, 45, 46, 47, 48, 50, 53, 54, 57, 60, 62, 63, 64, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98, 100}