## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[77, 25, 51, 74, 40, 91, 56, 43, 79, 84, 17, 48, 23, 45, 73, 54, 20, 68, 58, 24, 35, 33, 46, 75, 31, 27, 72, 8, 59, 3, 6, 97, 12, 92, 28, 98, 34, 37, 87, 49, 50, 93, 90, 88, 4, 26, 47, 94, 65, 57, 11, 29, 30, 82, 80, 13, 55, 83, 38, 76, 66, 39, 16, 69, 1, 70, 62, 2, 71, 32, 14, 42, 0, 52, 22, 21, 81, 5, 18, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)
len(set1)

{0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [4]:
sample_list_2 = []

for i in range(0, 80):
    sample_list_2.append(random.randrange(0, 101))
    
print(sample_list_2)
len(sample_list_2)

[88, 34, 12, 48, 65, 71, 3, 57, 94, 23, 32, 17, 94, 48, 37, 24, 29, 39, 50, 76, 37, 42, 61, 41, 48, 20, 2, 0, 80, 34, 88, 100, 47, 52, 71, 61, 79, 63, 81, 55, 77, 2, 85, 68, 85, 46, 44, 80, 72, 21, 98, 36, 10, 27, 17, 68, 12, 49, 82, 98, 33, 61, 27, 98, 88, 65, 71, 43, 46, 27, 49, 99, 13, 37, 47, 33, 98, 0, 15, 31]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)
len(set2)

#The length changes because list 2 includes same numbers sevral times, however sets only have unique numbers.

{0, 2, 3, 10, 12, 13, 15, 17, 20, 21, 23, 24, 27, 29, 31, 32, 33, 34, 36, 37, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 52, 55, 57, 61, 63, 65, 68, 71, 72, 76, 77, 79, 80, 81, 82, 85, 88, 94, 98, 99, 100}

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = []

for i in set1:
    if i not in set2:
        set3.append(i)
set3 = set(set3)        
print(set3)

{1, 4, 5, 6, 8, 11, 14, 16, 18, 22, 25, 26, 28, 30, 35, 38, 40, 45, 51, 54, 56, 58, 59, 62, 66, 69, 70, 73, 74, 75, 83, 84, 87, 90, 91, 92, 93, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = []

for nr in set2:
    if nr not in set1:
        set4.append(nr)
set4 = set(set4)        
print(set(set4))

{99, 36, 100, 41, 10, 44, 85, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = []

for nbr in set1:
    if nbr in set2:
        set5.append(nbr)
set5 = set(set5)        
print(set(set5))

{0, 2, 3, 12, 13, 15, 17, 20, 21, 23, 24, 27, 29, 31, 32, 33, 34, 37, 39, 42, 43, 46, 47, 48, 49, 50, 52, 55, 57, 65, 68, 71, 72, 76, 77, 79, 80, 81, 82, 88, 94, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [9]:
a = len(set1)
b = len(set2)
c = len(set3)
d = len(set4)
e = len(set5)

print(a)
print(b)
print(c)
print(d)
print(e)

#There is not a certain relation between those numbers.

80
51
38
9
42

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
print(set1)
print(set2)
print(set3)
print(set4)
print(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}
{0, 2, 3, 10, 12, 13, 15, 17, 20, 21, 23, 24, 27, 29, 31, 32, 33, 34, 36, 37, 39, 41, 42, 43, 44, 46, 47, 48, 49, 50, 52, 55, 57, 61, 63, 65, 68, 71, 72, 76, 77, 79, 80, 81, 82, 85, 88, 94, 98, 99, 100}
{1, 4, 5, 6, 8, 11, 14, 16, 18, 22, 25, 26, 28, 30, 35, 38, 40, 45, 51, 54, 56, 58, 59, 62, 66, 69, 70, 73, 74, 75, 83, 84, 87, 90, 91, 92, 93, 97}
{99, 36, 100, 41, 10, 44, 85, 61, 63}
{0, 2, 3, 12, 13, 15, 17, 20, 21, 23, 24, 27, 29, 31, 32, 33, 34, 37, 39, 42, 43, 46, 47, 48, 49, 50, 52, 55, 57, 65, 68, 71, 72, 76, 77, 79, 80, 81, 82, 88, 94, 98}
set()

In [12]:
set6.update(set5, set3)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}

In [13]:
set6.update(set3)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}

#### Check if `set1` and `set6` are equal.

In [14]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [15]:
y = set2.issubset(set1)
print(y)

False

In [16]:
x = set3.issubset(set1)
print(x)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
z = set3.union(set4, set5)
print(z)

y = set1.union(set2)

y == z

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 90, 91, 92, 93, 94, 97, 98, 99, 100}

True

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
print(set1)

set1 = list(set1)

set1.pop(0)

print(set(set1))

{0, 1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}
{1, 2, 3, 4, 5, 6, 8, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 62, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 87, 88, 90, 91, 92, 93, 94, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = list(set1)

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
set1 = set(set1)

print(set1)

{2, 3, 4, 5, 6, 8, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 62, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 87, 88, 90, 92, 93, 94, 97, 98}