## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
import random
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[40, 72, 100, 23, 3, 38, 11, 82, 42, 2, 86, 45, 20, 17, 94, 0, 12, 50, 30, 51, 27, 7, 19, 76, 16, 56, 47, 35, 68, 75, 26, 70, 97, 87, 52, 83, 44, 88, 93, 60, 15, 37, 91, 13, 53, 89, 48, 22, 5, 6, 57, 66, 55, 84, 58, 71, 34, 31, 39, 28, 63, 24, 25, 21, 4, 77, 8, 80, 69, 43, 73, 95, 36, 32, 46, 33, 96, 65, 41, 54]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [21]:
sample_list_2 = []
for x in range(0,80):
    x = random.randrange(101)
    sample_list_2.append(x)
print(sample_list_2)

[80, 13, 32, 58, 72, 38, 88, 28, 20, 72, 45, 10, 11, 63, 34, 37, 35, 61, 56, 9, 95, 79, 63, 98, 73, 44, 72, 49, 13, 78, 11, 8, 62, 91, 66, 98, 54, 11, 18, 20, 38, 91, 69, 52, 48, 89, 31, 93, 47, 37, 33, 34, 47, 80, 99, 67, 65, 75, 21, 90, 54, 68, 42, 82, 41, 10, 71, 89, 7, 18, 53, 88, 25, 19, 71, 18, 0, 46, 30, 10]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
set2 = set(sample_list_2)
print(len(set2))
# The length is not 80 anymore, because sets don't repeat values.

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
print(set1)
print(set2)
set3 = set1 - set2
print(set3)

{0, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 100}
{0, 7, 8, 9, 10, 11, 13, 18, 19, 20, 21, 25, 28, 30, 31, 32, 33, 34, 35, 37, 38, 41, 42, 44, 45, 46, 47, 48, 49, 52, 53, 54, 56, 58, 61, 62, 63, 65, 66, 67, 68, 69, 71, 72, 73, 75, 78, 79, 80, 82, 88, 89, 90, 91, 93, 95, 98, 99}
{2, 3, 4, 5, 6, 12, 15, 16, 17, 22, 23, 24, 26, 27, 36, 39, 40, 43, 50, 51, 55, 57, 60, 70, 76, 77, 83, 84, 86, 87, 94, 96, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [31]:
set4 = set2.difference(set1)
print(set4)

{98, 67, 99, 9, 10, 78, 79, 49, 18, 90, 61, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
set5 = set1.intersection(set2)
print(set5)

{0, 7, 8, 11, 13, 19, 20, 21, 25, 28, 30, 31, 32, 33, 34, 35, 37, 38, 41, 42, 44, 45, 46, 47, 48, 52, 53, 54, 56, 58, 63, 65, 66, 68, 69, 71, 72, 73, 75, 80, 82, 88, 89, 91, 93, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [39]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
# The bigger length is the first one. The difference between two sets is always smaller than the smaller of them.

80
58
34
12
46

#### Create an empty set called `set6`.

In [49]:
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [51]:
set6.update(set3, set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 100}

#### Check if `set1` and `set6` are equal.

In [52]:
if set1 == set6:
    print("Both are equal")
else:
    print("They're not equal")

Both are equal

In [54]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [56]:
set2.issubset(set1)

False

In [57]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
set3.union(set4, set5)
print(set3)
set3.union(set1, set2)
print(set3)
# Both aggregated values are equal, yes.

{2, 3, 4, 5, 6, 12, 15, 16, 17, 22, 23, 24, 26, 27, 36, 39, 40, 43, 50, 51, 55, 57, 60, 70, 76, 77, 83, 84, 86, 87, 94, 96, 97, 100}
{2, 3, 4, 5, 6, 12, 15, 16, 17, 22, 23, 24, 26, 27, 36, 39, 40, 43, 50, 51, 55, 57, 60, 70, 76, 77, 83, 84, 86, 87, 94, 96, 97, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
set1.pop()
print(set1)

{8, 11, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 80, 82, 83, 84, 86, 87, 88, 89, 91, 93, 94, 95, 96, 97, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [75]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in list_to_remove:
    if x in set1:
        set1.discard(x)
    else:
        pass
print(set1)

{8, 12, 13, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 68, 70, 72, 73, 75, 76, 77, 80, 82, 83, 84, 86, 87, 88, 93, 94, 95, 96, 97, 100}