## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here

sample_list_1 = random.sample(range(100), 80)

print(sample_list_1)
print(type(sample_list_1))
print(len(sample_list_1))

[58, 11, 57, 94, 82, 2, 61, 28, 52, 60, 76, 38, 97, 13, 90, 15, 98, 51, 7, 8, 20, 47, 0, 55, 10, 27, 65, 73, 84, 26, 22, 59, 9, 30, 95, 79, 24, 17, 36, 63, 46, 31, 25, 80, 53, 64, 66, 4, 75, 48, 33, 5, 34, 85, 93, 99, 50, 78, 70, 74, 35, 71, 45, 62, 23, 29, 49, 16, 18, 40, 14, 91, 88, 39, 21, 72, 44, 92, 86, 41]
<class 'list'>
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1= set(sample_list_1)
print(set1)
len(set1)

{0, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [6]:
# Your code here

sample_list_2 = []
for items in range(0,80):
    sample_list_2.append(random.randrange(100))
    
print(sample_list_2)
len(sample_list_2)

[55, 98, 94, 41, 17, 70, 62, 90, 64, 35, 75, 7, 46, 56, 29, 97, 60, 17, 42, 77, 5, 51, 41, 76, 44, 63, 88, 46, 72, 64, 11, 53, 70, 81, 13, 72, 78, 23, 82, 87, 19, 19, 60, 31, 45, 9, 61, 81, 44, 84, 11, 59, 12, 33, 3, 63, 54, 40, 29, 76, 59, 21, 73, 4, 11, 88, 14, 64, 79, 21, 36, 96, 27, 39, 29, 63, 34, 55, 91, 16]

80

In [7]:
sample_list_2 = []
for items in range(0,80):
    sample_list_2.append(random.randint(1,100))
    
print(sample_list_2)
len(sample_list_2)

[20, 24, 63, 11, 58, 1, 58, 94, 71, 50, 15, 95, 25, 35, 48, 30, 19, 60, 99, 8, 27, 2, 3, 55, 26, 82, 7, 24, 19, 41, 36, 92, 81, 27, 70, 78, 39, 97, 66, 74, 19, 47, 95, 64, 18, 15, 99, 20, 59, 69, 55, 60, 81, 17, 10, 35, 73, 98, 24, 48, 67, 50, 20, 8, 40, 23, 100, 32, 84, 99, 92, 12, 15, 38, 30, 99, 37, 11, 41, 43]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2= set(sample_list_2)
print(set2)
print("lenght is now: ", len(set2))

{1, 2, 3, 7, 8, 10, 11, 12, 15, 17, 18, 19, 20, 23, 24, 25, 26, 27, 30, 32, 35, 36, 37, 38, 39, 40, 41, 43, 47, 48, 50, 55, 58, 59, 60, 63, 64, 66, 67, 69, 70, 71, 73, 74, 78, 81, 82, 84, 92, 94, 95, 97, 98, 99, 100}
lenght is now:  55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set()
for elem in set1:
    if elem not in set2:
        set3.add(elem)

print(len(set3))
print(set3)
type(set3)

36
{0, 4, 5, 9, 13, 14, 16, 21, 22, 28, 29, 31, 33, 34, 44, 45, 46, 49, 51, 52, 53, 57, 61, 62, 65, 72, 75, 76, 79, 80, 85, 86, 88, 90, 91, 93}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = set()
for elem in set2:
    if elem not in set1:
        set4.add(elem)

print(len(set4))
print(set4)
type(set4)

11
{32, 1, 3, 67, 37, 69, 100, 43, 12, 81, 19}

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = set()
for elem in set1:
    if elem in set2:
        set5.add(elem)

print(len(set5))
print(set5)
type(set5)

44
{2, 7, 8, 10, 11, 15, 17, 18, 20, 23, 24, 25, 26, 27, 30, 35, 36, 38, 39, 40, 41, 47, 48, 50, 55, 58, 59, 60, 63, 64, 66, 70, 71, 73, 74, 78, 82, 84, 92, 94, 95, 97, 98, 99}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [12]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
55
36
11
44

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here

In [14]:
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{0, 2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [15]:
# Your code here

set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [16]:
# Your code here
set1.issubset(set2)

False

In [17]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [18]:
# Your code here
set3 = set4.union(set5)
set3 = set1.union(set2)
print(set3)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

In [19]:
set3 = set()
union_1 = set3.union(set4, set5)
union_2 = set1.union(set2)
union_1 == union_2

False

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here
set1.pop()
print(set1)
len(set1)

{2, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 97, 98, 99}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [21]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for nr in list_to_remove:
    if nr in set1:
        set1.remove(nr)
print(set1)

{2, 4, 5, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 40, 44, 45, 46, 47, 48, 50, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 73, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 93, 94, 95, 97, 98}