## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0,101),80)

In [3]:
print(sample_list_1)

[86, 94, 12, 75, 9, 42, 49, 45, 44, 17, 46, 71, 33, 40, 48, 81, 52, 39, 99, 24, 36, 68, 55, 66, 37, 57, 89, 35, 34, 79, 30, 77, 5, 2, 54, 16, 47, 88, 61, 11, 10, 26, 96, 72, 74, 78, 7, 70, 14, 93, 97, 85, 58, 73, 32, 25, 56, 67, 76, 91, 0, 63, 82, 3, 50, 22, 4, 28, 41, 21, 6, 23, 92, 60, 51, 29, 31, 20, 18, 69]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 =set(sample_list_1)

In [5]:
len(set1) #It is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [6]:
random.randrange(0,101)

99

In [7]:
sample_list_2 = []

for elements in range(80):
    number = random.randrange(0,101)   
    sample_list_2.append(number)

In [8]:
print(sample_list_2)

[82, 48, 26, 34, 45, 45, 35, 46, 37, 54, 1, 26, 62, 15, 97, 91, 79, 32, 64, 12, 71, 78, 82, 46, 36, 58, 9, 46, 89, 29, 78, 20, 25, 78, 50, 78, 16, 9, 74, 17, 37, 4, 45, 3, 55, 95, 38, 38, 91, 23, 52, 41, 42, 93, 35, 90, 36, 46, 76, 5, 49, 6, 34, 7, 44, 10, 91, 71, 39, 29, 48, 13, 68, 51, 15, 1, 9, 2, 100, 59]

In [9]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2 = set(sample_list_2)

In [11]:
len(set2) #It is less than 80 as the set just contains unique values

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
set3 = [] #unique values

In [13]:
for element in set1:
    if element not in set2:
        set3.append(element)

In [14]:
print(set3)

[0, 11, 14, 18, 21, 22, 24, 28, 30, 31, 33, 40, 47, 56, 57, 60, 61, 63, 66, 67, 69, 70, 72, 73, 75, 77, 81, 85, 86, 88, 92, 94, 96, 99]

In [15]:
len(set3)

34

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [16]:
set4 = []

In [17]:
for element in set2:
    if element not in set1:
        set4.append(element)

In [18]:
print(set4)

[1, 13, 15, 38, 59, 62, 64, 90, 95, 100]

In [19]:
len(set4)

10

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
set5 = []

In [21]:
for element in set1:
    if element in set2:
        set5.append(element)

In [22]:
print(set5)

[2, 3, 4, 5, 6, 7, 9, 10, 12, 16, 17, 20, 23, 25, 26, 29, 32, 34, 35, 36, 37, 39, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 58, 68, 71, 74, 76, 78, 79, 82, 89, 91, 93, 97]

In [23]:
len(set5)

46

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [24]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
34
10
46

In [25]:
#set 5 is the intersection from set1 and set2. Therefore: 
#set1+set5 = set 3
# set2 + set5 = set4

#### Create an empty set called `set6`.

In [26]:
set6 = set()

In [27]:
len(set6)

0

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
set6.update(set3)

In [29]:
set6.update(set5)

In [30]:
print(set6)

{0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [31]:
set1== set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [32]:
set1.issubset(set2) #Return False if not 
#all items in set1 are present in set2

False

In [33]:
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
set7=set()

In [35]:
set7 = set7.union(set3,set4,set5)

In [36]:
set8 =set()

In [37]:
set8 =set8.union(set1,set2)

In [38]:
set7==set8

True

#### Using the `pop` method, remove the first element from `set1`.

In [39]:
removed_element = set1.pop()

In [40]:
print(removed_element)

0

In [43]:
len(set1)

79

In [44]:
print(set1)

{2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 61, 63, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [47]:
remaining_elements = []

In [49]:
for element in set1:
    if element not in list_to_remove:
        remaining_elements.append(element)

In [50]:
print(remaining_elements)

[2, 3, 4, 5, 6, 7, 10, 12, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 63, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 85, 86, 88, 92, 93, 94, 96, 97, 2, 3, 4, 5, 6, 7, 10, 12, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 44, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 63, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 85, 86, 88, 92, 93, 94, 96, 97]