## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [9]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[94, 4, 9, 67, 25, 82, 19, 48, 39, 15, 81, 62, 7, 6, 97, 55, 40, 76, 73, 86, 90, 26, 31, 29, 60, 10, 11, 71, 87, 54, 88, 69, 17, 74, 2, 49, 41, 1, 93, 84, 47, 35, 0, 53, 44, 16, 27, 99, 58, 23, 34, 28, 24, 66, 20, 57, 75, 51, 72, 37, 38, 33, 80, 98, 64, 50, 5, 59, 63, 70, 45, 61, 32, 46, 78, 85, 21, 52, 77, 42]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
set1=set(sample_list_1)

print(len(set1))

type(set1)

80

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [12]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(100))
    
print(sample_list_2)

[66, 99, 70, 79, 40, 6, 78, 35, 50, 28, 51, 3, 0, 52, 25, 68, 54, 25, 90, 98, 39, 34, 24, 65, 72, 52, 74, 66, 78, 95, 94, 92, 38, 10, 9, 68, 95, 94, 69, 56, 18, 35, 50, 56, 80, 30, 70, 67, 76, 87, 12, 62, 45, 74, 63, 43, 79, 31, 6, 92, 9, 58, 78, 14, 91, 18, 11, 3, 48, 0, 41, 13, 85, 57, 78, 65, 89, 89, 75, 61]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
set2=set(sample_list_2)

print(len(set2))

type(set2)

#The lenght is different because the set is only taking into account the unique elements

57

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
set3=[]

for i in set1:
    if i not in set2:
        set3.append(i)
set3=set(set3)

print(set3)
type(set3)

{1, 2, 4, 5, 7, 15, 16, 17, 19, 20, 21, 23, 26, 27, 29, 32, 33, 37, 42, 44, 46, 47, 49, 53, 55, 59, 60, 64, 71, 73, 77, 81, 82, 84, 86, 88, 93, 97}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
set4=[]

for i in set2:
    if i not in set1:
        set4.append(i)
set4=set(set4)

print(set4)
type(set4)

{65, 3, 68, 43, 12, 13, 14, 79, 18, 56, 89, 91, 92, 30, 95}

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
set5=[]

for i in set1:
    if i in set2:
        set5.append(i)
set5=set(set5)

print(set5)
type(set5)

{0, 6, 9, 10, 11, 24, 25, 28, 31, 34, 35, 38, 39, 40, 41, 45, 48, 50, 51, 52, 54, 57, 58, 61, 62, 63, 66, 67, 69, 70, 72, 74, 75, 76, 78, 80, 85, 87, 90, 94, 98, 99}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [17]:
print(len(set1)) # the 80 unique elements of the first set

print(len(set2)) # the 52 unique elements of a random list of 80 (there were duplications)

print(len(set3)) # the elements present in set 1 but not in set 2

print(len(set4)) # the elements present in set 2 but not in set 1 (it's a smaller population so there will be less posibilities)

print(len(set5)) # elements in common between set 1 and 2

80
57
38
15
42

#### Create an empty set called `set6`.

In [18]:
set6=set(())
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
set6.update(set5)
set6.update(set3)

print(set6)

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 93, 94, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [20]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [21]:
set1.issubset(set2)

False

In [22]:
set1.issubset(set3)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [23]:
aggr1 = set3.union(set4, set5)
aggr2 = set1.union(set2)

aggr1==aggr2

True

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
set1.pop()

print(set1)
len(set1)

{1, 2, 4, 5, 6, 7, 9, 10, 11, 15, 16, 17, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 93, 94, 97, 98, 99}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [26]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        set1.remove(item)
        
print(set1)

{2, 4, 5, 6, 7, 10, 15, 16, 17, 20, 23, 24, 25, 26, 27, 28, 32, 33, 34, 35, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 93, 94, 97, 98}