## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [5]:
# Your code here

sample_list_1 = random.sample(range(101), 80)

print(sample_list_1)

[9, 48, 92, 4, 2, 96, 87, 91, 24, 11, 94, 19, 76, 67, 23, 13, 21, 93, 25, 37, 66, 8, 81, 31, 46, 79, 28, 80, 57, 59, 38, 10, 15, 32, 18, 1, 65, 34, 82, 68, 44, 69, 14, 75, 77, 63, 60, 39, 73, 7, 33, 72, 78, 3, 12, 62, 95, 5, 17, 98, 53, 50, 99, 29, 97, 64, 47, 45, 30, 90, 89, 0, 88, 22, 40, 74, 58, 54, 42, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set1 = set(sample_list_1)

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [7]:
# Your code here

sample_list_2 = []

for number in range(80):
    random_number = random.randrange(101)
    sample_list_2.append(random_number)

print(sample_list_2)

len(sample_list_2)

[93, 84, 57, 32, 51, 66, 100, 57, 13, 23, 34, 91, 99, 13, 26, 72, 94, 72, 79, 27, 19, 71, 81, 0, 1, 39, 62, 37, 6, 100, 2, 69, 91, 69, 47, 18, 84, 63, 41, 23, 78, 67, 61, 29, 24, 11, 12, 16, 80, 36, 98, 35, 74, 33, 38, 93, 55, 55, 62, 87, 22, 0, 98, 13, 54, 3, 31, 3, 99, 63, 6, 17, 86, 58, 73, 94, 3, 51, 42, 33]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here

set2 = set(sample_list_2)

len(set2)

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here

set3 = set()

for element in set1:
    if element not in set2:
        set3.add(element)

print(set3)

{4, 5, 7, 8, 9, 10, 14, 15, 21, 25, 28, 30, 40, 44, 45, 46, 48, 50, 53, 59, 60, 64, 65, 68, 75, 76, 77, 82, 88, 89, 90, 92, 95, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [157]:
# Your code here

set4 = set()

for element in set2:
    if element not in set1:
        set4.add(element)

set4

{1, 18, 29, 33, 50, 57, 67, 73, 80}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [158]:
# Your code here

set5 = set()


for element in set1:
    if element in set2:
        set5.add(element)

set5

{3,
 4,
 5,
 6,
 7,
 10,
 13,
 14,
 20,
 24,
 25,
 30,
 32,
 34,
 35,
 36,
 37,
 40,
 43,
 44,
 46,
 49,
 51,
 55,
 56,
 60,
 64,
 69,
 70,
 71,
 72,
 74,
 76,
 79,
 81,
 84,
 85,
 86,
 89,
 91,
 94,
 96,
 97,
 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [159]:
# Your code here

print(f'set 1: {len(set1)}') 
print(f'set 2: {len(set2)}')
print(f'set 3: {len(set3)}')
print(f'set 4: {len(set4)}')
print(f'set 5: {len(set5)}')

# set 4 + set 5 = set 2
# set 1 - set 5 = set 3
# Some sets have intercetion point between them, some doesn't have in order to see we have to make a Venn diagram

set 1: 80
set 2: 53
set 3: 36
set 4: 9
set 5: 44

#### Create an empty set called `set6`.

In [160]:
# Your code here

set6 = set()

print(set6)
set6

set()

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [161]:
# Your code here


set6.update(set3,set5)

set6
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [162]:
# Your code here

print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [163]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [164]:
# Your code here

union_set_3_4_5 = set3.union(set4, set5)
union_set_1_2 = set1.union(set2)


print(len(union_set_3_4_5) == len(union_set_1_2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [165]:
# Your code here
set1.pop()

print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 69, 70, 71, 72, 74, 76, 77, 79, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [166]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 53, 54, 55, 56, 58, 60, 63, 64, 65, 66, 70, 72, 74, 76, 77, 82, 83, 84, 85, 86, 88, 92, 93, 94, 96, 97, 98}